@import "tailwindcss";


/* Import Font Family */
@font-face {
    font-family: "HK Grotesk Regular";
    src: url(./assets/fonts/hk-grotesk.regular.ttf);
}

/* Design Tokens */
@theme {
    /* Colors */
    --color-dark-blue: #0b0b2c;
    --color-regular-blue: #16163e;
    --color-light-blue: #9494be;
    --color-white-snow: #f5f5f5;
    --color-gray: #a7a7b5;

    /* Font Families */
    --font-body: "HK Grotesk Regular", serif;
}